
HourBoy_v3.04.mq4
HourBoy_v4.05.mq4
SimpleSystem v9.0.mq4
SIM/*
STR_dev/*
TS/*
.Rproj.user
FALCON_D.Rproj
.RData
.Rhistory
Simulation/Y2016_SimulationFalconD.nb.html
AUTO_BACKTEST/settings_falcond.ini
